@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header section*/

    /* banner section */
header .banner {
    height: 600px;
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
}   
    /* banner's text section */
header .banner .text {
    width: 50%;
    height: 50%;
    max-width: 630px;
    max-height: 245px;
    margin: 0 auto;
    padding: 177px;
}

header .banner .text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .banner .text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* Header section closed */